# Orange API base
ORANGE_API_BASE=https://api.orange.com
ORANGE_APP_ID=

# OAuth2 Client Credentials
ORANGE_TOKEN_URL=https://api.orange.com/oauth/v3/token
ORANGE_CLIENT_ID=
ORANGE_CLIENT_SECRET=
ORANGE_SCOPES=

# Path params
REGION=EUR
CUSTOMER=anbservices
SERVICE_ID=

# Click to Call / Full API
C2C_APP_ID=
C2C_TOKEN_URL=https://api.orange.com/oauth/v3/token
C2C_CLIENT_ID=
C2C_SECRET=
C2C_SCOPES=ope:alias-numbers_full-api:v4:access
C2C_URI=https://api.orange.com/alias-numbers-full/v4/EUR
C2C_SERVICE_ID=

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini

# Server
PORT=3001
